/* style.css */

/* Cho AnchorPane */
.anchor-pane {
    -fx-background-color: #ffffff; /* Màu nền trắng */
}

/* Cho VBox */
.v-box {
    -fx-spacing: 10; /* Khoảng cách giữa các thành phần */
}

/* Cho HBox */
.h-box {
    -fx-spacing: 5; /* Khoảng cách giữa các thành phần */
}

/* Cho Label */
.label {
    -fx-font-size: 12; /* Kích thước chữ */
}

/* Cho Text */
.text {
    -fx-font-family: "Arial"; /* Font chữ */
    -fx-font-size: 18; /* Kích thước chữ */
}

/* Cho Button */
.button {
    -fx-font-size: 10; /* Kích thước chữ */
    -fx-padding: 5 10; /* Độ dày của đệm (top, right, bottom, left) */
    -fx-background-color: #3367d6; /* Màu nền xanh */
    -fx-text-fill: #ffffff; /* Màu chữ trắng */
    -fx-font-weight: bold; /* Chữ dày */
}

.button:hover {
    -fx-background-color: #4285f4; /* Màu nền xanh khi rê chuột vào */
}

/* Cho Button Reset */
.button-reset {
    -fx-font-size: 10; /* Kích thước chữ */
    -fx-padding: 5 10; /* Độ dày của đệm (top, right, bottom, left) */
    -fx-background-color: #ea4335; /* Màu đỏ */
    -fx-text-fill: #ffffff; /* Màu chữ trắng */
    -fx-font-weight: bold; /* Chữ dày */
}

.button-reset:hover {
    -fx-background-color: #cc372b; /* Màu đỏ khi rê chuột vào */
}

/* DesignedAnagramGame.css */

/* Cho timerLabel và scoreLabel */
#timerLabel, #scoreLabel {
    -fx-border-color: #3367d6; /* Màu viền xanh */
    -fx-border-width: 2; /* Độ dày viền */
    -fx-padding: 5; /* Độ dày đệm bên trong viền */
    -fx-border-radius: 5; /* Độ cong của góc viền */
}
